@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --dark-black: #1a1a1a;
  --border-grey: #e0e0e0;
  --light-grey: #f5f5f5;
  --font: 'Lexend', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
